In [5]:
a = 20
print("Inititalized var: ",  a)
del a
b = 22.5
c = 'ram'
print("Initialized var b: ", b)
print("Initialized var c: ", c)
del b
del c

Inititalized var:  20
Initialized var b:  22.5
Initialized var c:  ram

In [74]:
a=21
b="niket"
c=22.5
print("a", type(a))
print("b", type(b))
print("c", type(c))

a <class 'int'>
b <class 'str'>
c <class 'float'>

In [72]:
RollNumber = 398
Name = "Niket"
Branch = "IT"
print("RollNumber " , RollNumber)
print("Name " , Name)
print("Branch " , Branch)

RollNumber  398
Name  Niket
Branch  IT

In [9]:
a=5
b=10
print(a+b)
print(a*b)
print(a-b)
print(a/b)

15
50
-5
0.5

In [23]:
num1=float(input("enter the first number: "))
num2=float(input("enter the second number: "))
num3=float(input("enter the third number: "))
sum = num1 + num2 + num3
print(f" the sum of {num1} ,{num2}, {num3} is: {sum} ")

enter the first number:  33.67
enter the second number:  21.86
enter the third number:  22.0

 the sum of 33.67 ,21.86, 22.0 is: 77.53

In [25]:
r=float(input("enter the radius: "))
area =3.14*r*r
c= 2*3.14*r
print(f" area = {area}, c= {c} ")

enter the radius:  3

 area = 28.259999999999998, c= 18.84

In [36]:
P = float(input("Enter the principal amount (P): "))
T = float(input("Enter the time in years (T): "))
R = float(input("Enter the annual interest rate (R) in percentage: "))

A = P * (1 + R / 100) ** T 
ci = A-P
print(f"{ci}")

Enter the principal amount (P):  34
Enter the time in years (T):  2
Enter the annual interest rate (R) in percentage:  1

0.6833999999999989

In [54]:
a = float(input(" enter the 1st number to be swap"))
b = float(input(" enter the 2nd number to be swap"))
a,b = b,a
print("after swapping:")
print("num1", a )
print("num2" ,b )

 enter the 1st number to be swap 35
 enter the 2nd number to be swap 56

after swapping:
num1 56.0
num2 35.0

In [56]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

print("Is num1 equal to num2? ", num1 == num2)
print("Is num1 not equal to num2? ", num1 != num2)
print("Is num1 greater than num2? ", num1 > num2)
print("Is num1 less than num2? ", num1 < num2)
print("Is num1 greater than or equal to num2? ", num1 >= num2)
print("Is num1 less than or equal to num2? ", num1 <= num2)

Enter the first number:  2
Enter the second number:  5

Is num1 equal to num2?  False
Is num1 not equal to num2?  True
Is num1 greater than num2?  False
Is num1 less than num2?  True
Is num1 greater than or equal to num2?  False
Is num1 less than or equal to num2?  True

In [62]:
paisa = int(input("Enter the amount in paisa: "))

rupees = paisa // 100  
remaining_paisa = paisa % 100  

print(f"{paisa} paisa = {rupees} Rupee and {remaining_paisa} paisa")

Enter the amount in paisa:  2344

2344 paisa = 23 Rupee and 44 paisa

In [68]:
seconds = int(input("Enter the number of seconds: "))

hours = seconds // 3600  
minutes = (seconds % 3600) // 60  
remaining_seconds = seconds % 60  

print(f"{seconds} seconds = {hours} Hour, {minutes} Minute and {remaining_seconds} Second")

Enter the number of seconds:  3856

3856 seconds = 1 Hour, 4 Minute and 16 Second

In [70]:
meters = int(input("Enter the quantity in meters: "))

kilometers = meters // 1000  
remaining_meters = meters % 1000  

print(f"{meters} meter = {kilometers} Km and {remaining_meters} meter")

Enter the quantity in meters:  1500

1500 meter = 1 Km and 500 meter

In [84]:
amount = int(input("Enter the amount to be withdrawn in hundreds: "))

hundred_notes = amount//100
fifty_notes = (amount%100)//50  
remaining=amount%100
ten_notes = (remaining%50)//10  
print(f"Number of 100 denomination notes: {hundred_notes}")
print(f"Number of 50 denomination notes: {fifty_notes}")
print(f"Number of 10 denomination notes: {ten_notes}")
basic_salary = float(input("Enter Ramesh's basic salary: "))
dearness_allowance = (40 / 100) * basic_salary
house_rent_allowance = (20 / 100) * basic_salary
gross_salary = basic_salary + dearness_allowance + house_rent_allowance #gross
print(f"Ramesh's gross salary is: {gross_salary}")

Enter the amount to be withdrawn in hundreds:  780

Number of 100 denomination notes: 7
Number of 50 denomination notes: 1
Number of 10 denomination notes: 3

Enter Ramesh's basic salary:  530

Ramesh's gross salary is: 848.0