In [60]:
# Question

def find_max(my_list1):
    return max(my_list1)

def find_min(my_list1):
    return min(my_list1)

def find_sum(my_list1):
    return sum(my_list1)

def find_length(my_list1):
    return length(my_list1)

def join_list(my_list1,my_list2):
    return my_list1 + my_list2

def repeat_element(my_list1,element,n):
    return my_list1 + [element]*n

def check_value(my_list1,value):
    return value in my_list1

def convert_to_list(obj):
    return list(obj)

def sort_list(my_list1):
    return sorted(my_list1)

my_list1 = [20,34,56,12,23,98,67,56,22,21]


print("max_value: ", find_max(my_list1))

print("min_value: ", find_min(my_list1))

print("sum: ", sum(my_list1))

print("length of my_list1: ", len(my_list1))

my_list2 = [35,21,12,87,67,56,99,25,65]

print("join_list: ", my_list1 + my_list2)

#print("Repeat_element: ", (my_list1))
print("Repeat element 10 five times:", repeat_element(my_list1, 10, 5))

print("is 22 present in the list: ", check_value(my_list1,22))

tuple_data = (1, 2, 3)
set_data = {4, 5, 6}
string_data = "hello"
print("Converted tuple to list:", convert_to_list(tuple_data))
print("Converted set to list:", convert_to_list(set_data))
print("Converted string to list:", convert_to_list(string_data))


print("Sorted list:",sort_list(my_list1))

max_value:  98
min_value:  12
sum:  409
length of my_list1:  10
join_list:  [20, 34, 56, 12, 23, 98, 67, 56, 22, 21, 35, 21, 12, 87, 67, 56, 99, 25, 65]
Repeat element 10 five times: [20, 34, 56, 12, 23, 98, 67, 56, 22, 21, 10, 10, 10, 10, 10]
is 22 present in the list:  True
Converted tuple to list: [1, 2, 3]
Converted set to list: [4, 5, 6]
Converted string to list: ['h', 'e', 'l', 'l', 'o']
Sorted list: [12, 20, 21, 22, 23, 34, 56, 56, 67, 98]

In [98]:
# Q1

my_list = [10,20,37,75,45,44,22,10,20,22]
print("Original list:", my_list)

length = len(my_list)
print("Length of the list:", length)

duplicates = [item for item in set(my_list) if my_list.count(item) > 1]
print("Duplicate elements in the list:", duplicates)

my_list.reverse()
print("Reversed list:", my_list)

Original list: [10, 20, 37, 75, 45, 44, 22, 10, 20, 22]
Length of the list: 10
Duplicate elements in the list: [10, 20, 22]
Reversed list: [22, 20, 10, 22, 44, 45, 75, 37, 20, 10]

In [94]:
# Q2

list1 = ['iron', 'super', 'Hanu']
list2 = ['man', 'man', 'man']

concatenated_list = [a + b for a, b in zip(list1, list2)]
print("Concatenated list index-wise:", concatenated_list)

Concatenated list index-wise: ['ironman', 'superman', 'Hanuman']

In [92]:
# Q3

def square_elements(lst):
    return [x ** 2 for x in lst]

lst = [1, 2, 3, 4, 5]

squared_list = square_elements(lst)
print("List with squared elements:", squared_list)

List with squared elements: [1, 4, 9, 16, 25]

In [90]:
#4

def extend_nested_list(nested_lst, sublist):
    nested_lst.extend(sublist)
    return nested_lst

nested_lst = [[1, 2], [3, 4], [5, 6]]
sublist_to_add = [7, 8]

extended_list = extend_nested_list(nested_lst, sublist_to_add)
print("Extended nested list:", extended_list)

Extended nested list: [[1, 2], [3, 4], [5, 6], 7, 8]

In [86]:
# Q5

my_list = [1, 5, 3, 2, 4, 5, 6, 5]

item_to_remove = 5

filtered_list = [x for x in my_list if x != item_to_remove]
print("List after removing all occurrences of", item_to_remove, ":",filtered_list)

List after removing all occurrences of 5 : [1, 3, 2, 4, 6]